/* Vars */
:root {
        --orange-color: /*#CC533E*/#cd8436;
        --blue-color: #0B6971;
        --text-dark-color: #222009;
        --transiting-duration:1s;
}
* {
        user-select: none;
}
body {
        background:#444;
        font-family: Parisine;
}
#main {
        position:absolute;
        top:0;
        left:0;
        width:1280px;
        height:800px;
        background:var(--blue-color);
        background-image:url(img/bg.png);
        color: var(--text-dark-color);
        /* overflow:hidden; */
}
.page {
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display:none;
}
.page.current {
        display:flex;
}
.page .page-inner {
        position:relative;
        flex-grow: 1;
        width: 100%;
}
.title {
        font-family: Anisette;
        color:#fff;
        font-weight: 700;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}
.btn {
        display: inline-flex;
        padding: 12px 40px 16px 40px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 8px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.50) 0%, rgba(171, 181, 190, 0.50) 100%), #FFF;
        box-shadow: 0 4px 4px 0 rgba(3, 12, 20, 0.15);
        color: #000;
        font-family: Parisine;
        font-size: 28px;
        text-transform: uppercase;
        cursor:pointer;
}
.btn:active {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.50) 0%, rgba(112, 112, 112, 0.50) 73.56%), #FFF;
}

/*
 * PAGE HOME
 */
#home {

}
#home .title {
        font-size: 104px;
}
#home .btn {
        padding: 16px 56px 24px 56px;
        margin-top:33px;
}

/*
 * PAGE INSTRUCTIONS
 */
#instructions {

}
#instructions .title {
        font-size: 56px;
        margin-bottom:24px;
}
.instructions-slider {
        display:flex;
        gap:32px;
        align-items: center;
        justify-content: center;
        margin-bottom:20px;
}
.instructions-slider .btn {
        width: 64px;
        height: 64px;
        padding:0;
}
.instructions-slider .slides {
        height: 380px;
        display: flex;
        align-items: center;
        justify-content: center;
}
.instructions-slider .slide-prev {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
}
.instructions-slider .slide-next {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
}
.instructions-slider .slide {
        gap: 10px;
        justify-content: center;
        align-items: center;
        width:595px;
        padding: 32px 40px 40px 40px;
        border-radius: 4px;
        background: rgba(255, 255, 255, 0.90);
        box-shadow: 0 4px 4px 0 rgba(3, 12, 20, 0.15);
        backdrop-filter: blur(4px);
        font-size: 28px;
        line-height: normal;
        display:none;
}
.instructions-slider .slide.current {
        display: block;
}
.instructions-slider .slide p {
        margin-bottom:1em;
}
.instructions-slider .slide p:last-child {
        margin-bottom:0;
}
.slider-dots {
        display:flex;
        gap:10px;
}
.slider-dots .dot {
        width:10px;
        height:10px;
        border-radius:50%;
        background:#fff;
        opacity:.3;
}
.slider-dots .dot.current {
        opacity:1;
}
#instructions .start-game {
        margin-top:50px;
}

/*
 * PAGE GAME
 */
#game {
        padding:40px 58px;
        justify-content: start;
        align-items: start;
}
#game .back-to-instructions {
        padding: 10px 24px 12px 24px;
        font-size: 16px;
}
#game .back-to-instructions img {
        height: 13px;
        position: relative;
        top: 1px;
}
#game .game-score {
        position:absolute;
        border-radius: 4px;
        top:0;
        right:0;
        background:#fff;
        padding: 8px 24px 12px 24px;
        box-shadow: 0 0 6px 0 rgba(3, 12, 20, 0.15);
        font-family: Parisine;
        font-size: 20px;
        padding-right:60px;
}
#game .game-score .num-circle {
        position:absolute;
        right:-10px;
        top:-12px;
        width: 63px;
        height: 63px;
        display:inline-flex;
        align-items: center;
        justify-content: center;
        border-radius:50%;
        background:#F6FEFF;
}
#game .game-score .num-circle .num {
        position: relative;
        top: 3px;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
        font-family: Anisette;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        color: #0B6971;
}
#game .game-text {
        margin-top:45px;
        color: #FFF;
        font-family: Parisine;
        font-size: 28px;
        font-weight: 700;
}
#game .game-text .subtext {
        margin-top:8px;
        font-size: 20px;
}
#game .mission-time-legend {
        position:absolute;
        top: 155px;
        right: 23px;
        color:#fff;
        font-size: 19px;
        font-weight: 700;
}
#game .missions {
        margin-top:48px;
        overflow: hidden;
        height: 530px;
}
#game .missions .mission {
        position:relative;
        padding-left: 50px;
        padding-top: 13px;
        margin-bottom:46px;
        transition:background 1.5s, opacity 1.5s;
}
#game .missions .mission .mission-image {
        position:absolute;
        top:0;
        left:0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius:50%;
        width:104px;
        height:104px;
        background:#3D898F;
        opacity:0;
        transition:background 1.5s, opacity .5s;
}
#game .missions .mission .mission-image img {
        width:75%;
}
#game .missions .mission.visible .mission-image {
        opacity:1;
}
#game .missions .mission[data-time-status="medium"] .mission-image {
        background:/*#CC533E*/#cd8436;
}
#game .missions .mission[data-time-status="low"] .mission-image,
#game .missions .mission[data-time-status="expired"] .mission-image {
        background:#D2232A;
}
#game .missions .mission.success .mission-image {
        background:#54cd86;
}
#game .missions .mission .mission-bar {
        background:#fff;
        padding: 16px 24px 16px 80px;
        border-radius: 4px;
        box-shadow: 0 4px 4px 0 rgba(3, 12, 20, 0.15);
        font-family: Parisine;
        font-size: 28px;
        font-weight: 700;
        display:flex;
        position:relative;
        transition:1.5s;
}
#game .missions .mission .mission-bar .mission-title {
        flex-grow:1;
        color:#0B6971;
        line-height: normal;
        transition:all 1.5s;
}
#game .missions .mission[data-time-status="medium"] .mission-bar .mission-title {
        color:/*#CC533E*/#cd8436;
}
#game .missions .mission[data-time-status="low"] .mission-bar .mission-title {
        /* animation: alert-low-color 0.5s alternate infinite ease-in-out; */
        color:#D2232A;
}
#game .missions .mission[data-time-status="low"] .mission-bar{
        animation: alert-low-bg 0.5s alternate infinite ease-in-out;
        animation-delay:1s;
        transition:none;
}
#game .missions .mission.expired .mission-bar .mission-title {
        color:#ffffff;
}
#game .missions .mission.success .mission-bar .mission-title {
        color:#54cd86;
}
#game .missions .mission .mission-bar .mission-time {
        font-family: Anisette;
        background: #3D898F;
        border-radius:4px;
        padding: 13px 0px 9px 0px;
        color:#fff;
        font-size: 24px;
        width:90px;
        padding-left: 10px;
        padding-right: 10px;
        text-align:center;
        transition:background 1.5s, color 1.5s;
}
#game .missions .mission[data-time-status="medium"] .mission-bar .mission-time {
        background:/*#CC533E*/#cd8436;
}
#game .missions .mission[data-time-status="low"] .mission-bar .mission-time,
#game .missions .mission[data-time-status="expired"] .mission-bar .mission-time {
        background:#D2232A;
}
#game .missions .mission[data-time-status="success"] .mission-bar .mission-time {
        background:#54cd86;
}
#game .missions .mission[data-time-status="expired"] .mission-bar .mission-time,
#game .missions .mission[data-time-status="success"] .mission-bar .mission-time,
#game .missions .mission.archived .mission-bar .mission-time,
#game .missions .mission.success .mission-bar .mission-time {
        width:auto;
}
@keyframes alert-low-bg {
        from { 
            background:#fff;
        }
        to   {
            background:#f7bdb3;
        }
}
@keyframes alert-low-color {
        from { 
            color:#D2232A;
        }
        to   {
            color:#fff;
        }
}

#game .missions .mission.archived {
        opacity:.5;
}
#game .missions .mission.expired .mission-bar {
        background:#D2232A;
}
#game .missions .mission.success .mission-bar {
        background:#fff;
}

.simulators {
        position:absolute;
        top:100px;
        left:1320px;
        display:flex;
        gap:20px;
        flex-direction:column;
        width: 350px;
}
/* tmp : to be deleted ! */
.led-simulator {
        position:absolute;
        bottom:50px;
        left:50px;
        display: flex;
}
.led-simulator .led {
        flex-shrink:0;
        flex-basis:20px;
        width:20px;
        height:20px;
        border-radius:8px;
        margin-right:8px;
        background-color:rgba(255, 255, 255, .1);
        filter:blur(1px);
        transition:1s;
}
.led-simulator .led.object-inside {
        background-color: #e8ff8f;
        /*transition:.1s;*/
}
.led-simulator .led.patrol-over {
        background-color:rgba(255, 0, 0, .2);
}
.led-simulator .led.patrol-over-active {
        background-color:red !important;
        transition:.1s;
}
.led-simulator .led.last-of-serie:not(:last-child)
{
        margin-right:20px;
}
h2 {
        margin-bottom:10px;
        text-transform: uppercase;
        color:#fff;
}
.box-simulator {
        display:flex;
        gap:40px;
        margin-bottom:50px;
}
.box-simulator .box {
        width:50px;
        height:50px;
        background:#000;
        border-radius:50%;
}
.box-simulator .box.inside {
        background:#FF0;
}
.hand-simulator .box.inside {
        background:#F00;
}
#end {
        opacity:0;
        pointer-events: none;
        transition: 1s;
}
#game.ended #end {
        opacity:1;
        pointer-events: all;
}
#end .end-gradient {
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background: radial-gradient(49.95% 49.95% at 39.32% 50.05%, rgba(5, 19, 29, 0.00) 30.77%, rgba(5, 19, 29, 0.20) 100%), radial-gradient(66.37% 66.37% at 39.17% 50.05%, rgba(5, 19, 29, 0.00) 30.77%, rgba(5, 19, 29, 0.50) 94.71%), rgba(5, 28, 29, 0.80);
        backdrop-filter: blur(4px);
}
#end .end-inner {
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding-left:176px;
}
#end .end-phrase {
        color: /*#CC533E*/#cd8436;
        font-size: 32px;
        font-weight: 700;
        margin-bottom:24px;
}
#end .end-phrase .success,
#end .end-phrase .failure{
        display:none;
}
#end .end-phrase .success{
        color: #54cd86;
}
#end .end-phrase .failure {
        color: #CC533E;
}
#game.success #end .end-phrase .success {
        display:inline;
}
#game.failure #end .end-phrase .failure {
        display:inline;
}
#end .title {
        font-size: 104px;
}
#end .end-score {
        color: #FFF;
        font-size: 40px;
        text-transform: uppercase;
}
#end .end-score .num-circle {
        background:#fff;
        border-radius:50%;
        width:63px;
        height:63px;
        display:inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #0B6971;
        font-family: Anisette;
        font-size: 48px;
        font-weight: 700;
        margin-right: 6px;
}
#end .end-score .num-circle .num {
        position:relative;
        top:4px;
}
#end .btn.replay {
        align-self: start;
        margin-top:80px;
}

@keyframes shake {
        0% { transform: translate(0); }
        25% { transform: translate(5px, -5px); }
        50% { transform: translate(-5px, 5px); }
        75% { transform: translate(5px, 5px); }
        100% { transform: translate(0); }
}
@keyframes flash1 {
        from { opacity: 0; }
        to   { opacity: .5; }
}
@keyframes flash2 {
        from { opacity: 0; }
        to   { opacity: .75; }
}
@keyframes flash3 {
        from { opacity: .5; }
        to   { opacity: 1; }
}

.alert-flash {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 0, 0, 0.6);
        pointer-events: none; /* pour ne pas bloquer les clics */
        z-index: 9999;
        display: none;
        align-items:center;
        justify-content:center;
}
.alert-flash .alert-text {
        font-size:84px;
        opacity:0;
        transition:all 1s;
}
body.alert .alert-flash{
        display:flex;
        animation: flash3 0.4s alternate infinite;
}
body.alert2 .alert-flash .alert-text{
        opacity:1;
}
body.end #main {
        animation:shake 0.15s infinite;
}


/*
 * GRADIENT ANIMATIONS
 */
@property --gradientColor {
        syntax: '<color>';
        /*initial-value: rgba(47, 55, 61, 0.35);*/
        initial-value: rgba(5, 28, 29, 0.35);
        inherits: false;
}
@property --gradientPos1 {
        syntax: '<percentage>';
        /*initial-value: 0;*/
        initial-value: 30.77%;
        inherits: false;
}
@property --gradientPos2 {
        syntax: '<percentage>';
        initial-value: 94.71%;
        inherits: false;
}
#gradient {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        transition: --gradientColor var(--transiting-duration) ease-in, --gradientPos1 var(--transiting-duration) ease-in, --gradientPos2 var(--transiting-duration) ease-in, opacity .5s ease-in .5s;
        background: radial-gradient(41.55% 66.33% at 39.32% 50.05%, rgba(5, 19, 29, 0.00) 30.77%, rgba(5, 19, 29, 0.20) 100%), radial-gradient(60.83% 69.29% at 50% 50.05%, rgba(5, 19, 29, 0.00) var(--gradientPos1), var(--gradientColor) var(--gradientPos2));
        pointer-events: none;
        opacity:0;
}
body.transiting #gradient {
        pointer-events: all;
        /*--gradientColor: rgba(5, 19, 29, 0.65);*/
        --gradientColor: rgba(5, 28, 29, 0.65);
        /*--gradientPos1: 10%;*/
        --gradientPos2: 50%;
        opacity:1;
        transition: --gradientColor var(--transiting-duration) ease-out, --gradientPos1 ease-out var(--transiting-duration), --gradientPos2 var(--transiting-duration) ease-out, opacity .5s ease-out;
}
#gradient:after {
        content:'';
        position:absolute;
        top:0;
        left:0;
        bottom:0;
        right:0;
        background:rgba(5, 19, 29, 1);
        opacity:0;
        transition: var(--transiting-duration) ease-in;
}
body.transiting #gradient:after {
        opacity:1;
        transition: var(--transiting-duration) ease-out;
}